.app{
  position: relative;
  background-color: white;
  margin: 0;
  padding: 0;
  top: 0;
}

.card1{
  color: red;
  background-color: blue;
  font-size: 2rem;
  max-width: 140px;
  text-align: center;
  margin: 30px;
}
.sequencer{
  position: absolute;
  top: 20%;
  right: 0;
 
  transform: translate(0, -50%);

}

.chain{
  transform: translate(25%);
  padding: 0;
  margin: 0;
}



/* centerui */

.centerui{
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%,-0%);
  justify-content: center;
  align-items: center;

  padding: 0px;
  margin: 0;
  height: 100px;
  background-color: aqua;

}
.centerui > button{
  position: absolute;
  font-size: 2em;
  z-index: 10;

}
.centerui > button:hover{
  background-color: red;
}

.centerui > ul > li{
  position: relative;
  top: 220px;
  font-size: 2rem;
  border: solid;
  margin: 10px;
  padding: 5px;

}

.centerui > ul > button{
  position: relative;
  top: 220px;
  font-size: 2rem;
  border: solid;
  margin: 10px;
  padding: 5px;
  z-index: 1000;

}

li:hover{
  background-color: green;
}

ul{
  list-style-type: none;
}

.dropdown{
  opacity: 100;
  transition: opacity 300ms; 
  
}




/* stepseq */


.steps > ul{
  display: flex;
  justify-content: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-top: 50px;

  
  
}

.steps > ul > li {
  border: solid;
  border-width: 1px;
  list-style-type: none;
  width: 70px;
  height: 70px;
  border-radius: 10px;
 margin-left: 30px;
 
 
  
}

.steps > ul > li:hover{
  background-color: aquamarine;
  
}


.sq{
  background-color: green;
}

.sqa{
  position: relative;
  background-color: yellow;
  top: -10px;
  z-index: 20;
  box-shadow: 0 0 100px blue;
  
}

.sqtst{
  background-color: yellow;
}

/* sequncerui */
.sequencerui{
  display: block;
  position: absolute;
  right: 0;
  top:50%;

  background-color: black;
  width: 15vw;
  color: white;
  border-radius: 10px;
  padding: 20px;

  
}




/* sliders */
.sliders{
  display: grid;
  grid-template-columns: 200px 200px;
  
}

.uielement{
  background-color: black;
  width: 15vw;
  color: white;
  border-radius: 10px;
}

 .uielement > p {
  padding: 20px;
}

