.app{
  position: relative;
  padding: 0px;
  top: 0;
  width: 100%;
 
}

body{
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%); */
  /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */

  /* background-color: #CDDCDC; */
 /* background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%); */
 background-blend-mode: screen, overlay;

}

.card1{
  color: white;
  background-color: #318AAD;
  border-radius: 5px;
  font-size: 2rem;
  max-width: 140px;
  text-align: center;
  margin: 30px;
}
.sequencer{
  position: absolute;
  top: 0%;
  right: 0;
  /* background-color: yellow; */
  
 

}

.chain{
  padding: 0;
  margin: 0;
  width: 50%;
  transform: translate(50%);
}



/* centerui */

.centerui{
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%,-0%);
  justify-content: center;
  align-items: center;

  padding: 0px;
  margin: 0;
  height: 100px;
  /* background-color: aqua; */

}
.centerui > button{
  position: absolute;
  font-size: 2em;
  z-index: 10;

}
.centerui > button:hover{
  background-color: red;
}

.centerui > ul > li{
  position: relative;
  top: 200px;
  font-size: 2rem;
  border: solid;
  margin: 10px;
  padding: 5px;

}

.centerui > ul > button{
  position: relative;
  top: 220px;
  font-size: 2rem;
  border: solid;
  margin: 10px;
  padding: 5px;
  z-index: 1000;

}

li:hover{
  background-color: green;
}

ul{
  list-style-type: none;
}

.dropdown{
  opacity: 100;
  transition: opacity 300ms; 
  
}




/* stepseq */

.notelength{
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.steps{
 
  position: absolute;
  width: 100%;
  top: 70vh;
  /* background-color: black; */
}


.steps > ul{
  display: flex;
  justify-content: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-top: 50px;
 
 

  
  
}

.steps > ul > li {
  border: solid;
  border-width: 1px;
  list-style-type: none;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 30px;
 
 
  
}

.steps > ul > li:hover{
  background-color: aquamarine;
  
}


.sq{
  background-color: #1B4D61;
  
}

.sqa{
  position: relative;
  background-color: #85CAE6;
  top: -10px;
  z-index: 20;
  box-shadow: 0 0 150px #385561;
  
  
}

.sqtst{
  background-color: yellow;
}

/* sequncerui */
.rightpatternctrl{
  position: absolute;
  right: 0;
  top: 75%;
  width: 40%;
 
}

.offsetslider{
  display: block;
  position: absolute;
  right: 0;
  

  background-color: black;
  width: 12vw;
  height: 60px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;

  
}



.shufflebutton{
  font-size: 1.5rem;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 100px;
  
}



/* sliders */
.sliders{
  display: grid;
  grid-template-columns: 200px 200px;
  margin: 20px;
  /* background-color: aqua; */
  
}

.slider{
  background-color: #181B1CBF;

}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance:none;
  color: #13bba4;
  margin-top: 0px;
  background-color: white;
}



.uielement{
  background: #181B1CBF;
  width: 15vw;
  color: white;
  border-radius: 10px;
  font-family: sans-serif;
}

 .uielement > p {
  padding: 5px;
}

